body{
    /* background-color: black; */
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.circle1{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: 0px solid rgb(223, 112, 223);
    position: relative;
    left: 30%;
    top: 20%;
    box-shadow: 50px 10px 50px;
    
}
.min{
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50% 0% 0% 50%;
    background-color: black;
    position: relative;
    top: 50%;
    width: 50%;
    transform-origin: bottom right;
    animation: sec 600s linear infinite;
    
}
.hour{
    width: 25%;
    background-color: black;
    border: 3px solid black;
    border-radius: 50% 0% 0% 50%;
    position: relative;
    top: 48%;
    left:25%;
    transform-origin: bottom right;
    animation: sec calc(3600*24) linear infinite;
    transform: rotate(84deg);
}
.second{
    border: 2px solid black;
    background-color: black;
    border-radius: 50% 0% 0% 50%;
    position: relative;
    top: 47%;
    transform-origin: bottom right;
    animation: sec 60s steps(60,end) infinite;
    width: 50%;
}
.dot{
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    width: 4%;
    height: 4%;
    position: relative;
    top: 44%;
    left: 50%;
}
@keyframes sec{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(360deg) }
}
