* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: 270px;
  width: 270px;
  border: 15px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.board .square {
  width: 30px;
  height: 30px;
  border: 1px solid black;
}